.Header {
  margin-bottom: 40px;
  width: 100%;
  background-color: #87B83E;
  padding: 20px;
}

.Header__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Header__title-container {
  font-family: 'FinkHeavy';
}

.title {
  font-family: FinkHeavy;
  font-size: 4em;
  margin: 20px;
  color: #2f530a;
}

.logo {
  height: auto;
  margin-right: 20px;
  transform: rotate(-10deg);
}
